html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.header-navbar {
    width: 100%;
    height: 75px;
    background: #be3144;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}
.nav-buttons {
    columns: 100px 3;
    height: 100%;
    margin-top: -1px;
    margin-right: 50px;
}
.nav-buttons li{
    list-style: none;
    height: 100%;
}
.indroduction {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 24px;
    position: absolute;
    cursor: pointer;
}
.indroduction:hover {
    background: #3a3d40;
}
.projects {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 24px;
    position: absolute;
    cursor: pointer;
}
.projects:hover {
    background: #3a3d40;
}
.contact {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 24px;
    position: absolute;
    cursor: pointer;
}
.contact:hover {
    background: #3a3d40;
}
#indroduction {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 961px;
    min-width: 1850px;
}
#projects {
    background: #45567d;
    width: 100%;
    height: 1500px;
    min-width: 1850px;
}
.intro-heading {
    color: white;
    display: inline-block;
    padding-top: 420px;
    padding-left: 37%;
    font-size: 52px;
    font-family: sans-serif;
}
.intro-para {
    color: #be3144;
    font-size: 28px;
    font-family: system-ui;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-style: italic;
    margin-left: 45%;
    margin-top: -20px;
}
.projects-heading {
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 38px;
    font-family: sans-serif;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2.5px;
}
.balance-sheet {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;   
    float: left;
}
.balance-sheet:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image1 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.cafe-menu {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.cafe-menu:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image2 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project2 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.city-skyline {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.city-skyline:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image3 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project3 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.ferris-wheel-animation {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.ferris-wheel-animation:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image4 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project4 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.penguin-animation {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.penguin-animation:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image5 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project5 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.photo-gallary {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.photo-gallary:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image6 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project6 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.quiz {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.quiz:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image7 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project7 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.registration-form {
    width: 400px;
    height: 570px;
    margin-left: 2.7%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    transition: ease-out 0.4s;
    float: left;
}
.registration-form:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-image8 {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project8 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
#contact {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 800px;
    min-width: 1850px;
}
.contact-heading {
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 300px;
    font-size: 52px;
    font-family: sans-serif;
}
.contact-para {
    color: #be3144;
    font-size: 26px;
    font-family: system-ui;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: -25px;
}
.social-media {
    height: 30px;
    padding-left: 555px;
    padding-top: 40px;
}
.facebook {
    color: white;
    font-size: 25px;
    float: left;
}
.facebook p{
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3px;
    color: white;
    transition: 0.3s ease-out;
}
.facebook:hover {
    transform: scale(1.1);
}
.github {
    color: white;
    font-size: 25px;
    float: left;
    margin-left: 90px;
}
.github p{
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3px;
    color: white;
    transition: 0.3s ease-out;
}
.github:hover {
    transform: scale(1.1);
}
.mail {
    color: white;
    font-size: 25px;
    float: left;
    margin-left: 90px;
}
.mail p{
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3px;
    color: white;
    transition: 0.3s ease-out;
}
.mail:hover {
    transform: scale(1.1);
}
.call {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 90px;
}
.call p{
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3px;
    font-size: 25px;
    color: white;
    transition: 0.3s ease-out;
}
.call:hover {
    transform: scale(1.1);
}
.footer {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    border-top: solid 3px #be3144;
    width: 1856px;
    height: 100px;
}
.footer-para1 {
    color: white;
    font-size: 19px;
    font-family: system-ui;
    float: left;
    margin-left: 300px;
    margin-top: 40px;
}
.footer-para2 {
    color: white;
    font-size: 19px;
    font-family: system-ui;
    float: left;
    margin-left: 500px;
    margin-top: 40px;
}