body {
    margin: 0;
}
.header-navbar {
    width: 100%;
    height: 75px;
    background: #be3144;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}
.nav-buttons {
    columns: 100px 3;
    height: 100%;
    margin-top: -1px;
    margin-right: 50px;
}
.nav-buttons li{
    list-style: none;
    height: 100%;
}
.indroduction {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 24px;
    position: absolute;
    cursor: pointer;
}
.indroduction:hover {
    background: #3a3d40;
}
.projects {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 24px;
    position: absolute;
    cursor: pointer;
}
.projects:hover {
    background: #3a3d40;
}
.contact {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 24px;
    position: absolute;
    cursor: pointer;
}
.contact:hover {
    background: #3a3d40;
}
#indroduction {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 961px;
}
#projects {
    background: linear-gradient(62deg, #84c7cf 0%, #00b0c7 100%);
    width: 100%;
    height: 900px;
}
.intro-heading {
    color: white;
    display: inline-block;
    padding-top: 420px;
    padding-left: 37%;
    font-size: 52px;
    font-family: sans-serif;
}
.intro-para {
    color: #be3144;
    font-size: 28px;
    font-family: system-ui;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-style: italic;
    margin-left: 45%;
    margin-top: -20px;
}
.projects-heading {
    color: black;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 38px;
    font-family: sans-serif;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-weight: 800;
    text-decoration-thickness: 2.5px;
}
.balance-sheet {
    width: 400px;
    height: 570px;
    margin-left: 5%;
    margin-top: 50px;
    background: #3a3d40;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #be3144;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;   
}
.balance-sheet:hover {
    box-shadow: inset 400px 50px 0 0 #be3144;
}
.project-images {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}